@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
  .activeNav > .active {
    color: gray;
    background-color: white;
  }
}

